body{
   background-color: green;
}
.tela{
    width:600px ;
    heigth:300px ;
    baackground-color:yellow ;
    border;1px solid  ;
    margin-top;50px :
    margin-left; 200px:
}
     .lado{
        width: 40%;
        height:90% ;
        background-color: blue
        margin-top: 5%;
        margin-left: 5%;
        display: incline-block;

     }
